* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
}

button:hover {
    opacity: 0.8;
}

.space-40 {
    padding: 40px;
}

.header {
    background-color: #c8dd88;
    position: fixed;
    width: 100%;
    padding: 12px 32px;
    top: 0;
}

.action-button {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 5px;
}

.header-button {
    float: right;  
}


.logo {
    height: 32px;
}

.car {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px;
    margin: 12px auto;
    width: 80%;
    max-width: 800px;
}

.car_image {
    max-width: 400px;
    width: 94%;
}

.car_discription {
    margin: 0;
    vertical-align: top;
    display: inline-block;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ddd;
}

input[type=radio] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ddd;
}

.logincontainer {
    padding: 16px;
}

.logincontainer-button {
    width: 100%;
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(5,5,2,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.closecontainer {
    margin: 12px 0 12px 0;
    position: relative;
}

.span.psw {
    float: right;
    padding-top: 16px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        cursor: pointer;
    }

.animate {
    -webkit-animation: animation 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}


.carNew {
	text-align: center;
}

.info {
	float: right
}